.employee-list-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow-x: auto;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }
  
    .controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      input[type="text"] {
        width: 60%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }
  
      select {
        width: 35%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }
    }

    .notification {
      padding: 10px;
      border-radius: 4px;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
  
      &.edit {
        background: rgb(215, 215, 0);
      }
  
      &.delete {
        background: red;
        color: white;
      }
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      table-layout: auto;
  
      th,
      td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
        min-width: 120px; 
      }
  
      th {
        cursor: pointer;
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
      }
  
      th:hover {
        background-color: #e0e0e0;
      }
  
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
  
      tr:hover {
        background-color: #f1f1f1;
      }
    }
  
    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      button {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f2f2f2;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #ddd;
        }
  
        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
          background-color: #f2f2f2;
        }
      }
  
      span {
        font-size: 14px;
        color: #333;
      }
    }
  
    @media (max-width: 768px) {
      .controls {
        flex-direction: column;
  
        input[type="text"],
        select {
          width: 100%;
          margin-bottom: 10px;
        }
      }
  
      table {
        th,
        td {
          padding: 8px;
          font-size: 12px;
        }
      }
  
      .pagination {
        flex-direction: column;
  
        button {
          width: 100%;
          margin-bottom: 10px;
        }
  
        span {
          margin-bottom: 10px;
        }
      }
    }
  }
  