<div class="employee-list-container">
  <h2>Employee List</h2>

  <div class="controls">
    <input type="text" [(ngModel)]="searchTerm" (input)="searchEmployees()" placeholder="Search by name or email">
    <select (change)="setItemsPerPage($event)">
      <option value="5">5 per page</option>
      <option value="10" selected>10 per page</option>
      <option value="20">20 per page</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary mb-2" (click)="navigateToAddEmployee()">Add Employee</button>

  <div *ngIf="notificationMessage" class="notification" [ngClass]="notificationType">
    {{ notificationMessage }}
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th tabindex="0" (click)="sortEmployees('username')" (keydown)="onKeyDownSort($event, 'username')">Username
          </th>
          <th tabindex="0" (click)="sortEmployees('firstName')" (keydown)="onKeyDownSort($event, 'firstName')">First
            Name</th>
          <th tabindex="0" (click)="sortEmployees('lastName')" (keydown)="onKeyDownSort($event, 'lastName')">Last Name
          </th>
          <th tabindex="0" (click)="sortEmployees('email')" (keydown)="onKeyDownSort($event, 'email')">Email</th>
          <th tabindex="0" (click)="sortEmployees('birthDate')" (keydown)="onKeyDownSort($event, 'birthDate')">Birth
            Date</th>
          <th tabindex="0" (click)="sortEmployees('basicSalary')" (keydown)="onKeyDownSort($event, 'basicSalary')">Basic
            Salary</th>
          <th tabindex="0" (click)="sortEmployees('status')" (keydown)="onKeyDownSort($event, 'status')">Status</th>
          <th tabindex="0" (click)="sortEmployees('group')" (keydown)="onKeyDownSort($event, 'group')">Group</th>
          <th tabindex="0" (click)="sortEmployees('description')" (keydown)="onKeyDownSort($event, 'description')">
            Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of displayedEmployees">
          <td>{{ employee.username }}</td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.birthDate }}</td>
          <td>{{ employee.basicSalary | rupiah }}</td>
          <td>{{ employee.status }}</td>
          <td>{{ employee.group }}</td>
          <td>{{ employee.description }}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm mr-2"
              (click)="viewEmployeeDetail(employee.id)">Detail</button>
            <button class="btn btn-outline-primary btn-sm mr-4" (click)="editEmployee(employee)">Edit</button>
            <button class="btn btn-outline-primary btn-sm" (click)="deleteEmployee(employee)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= filteredEmployees.length">Next</button>
  </div>
</div>