.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 80vh;
    padding: 50px;

    .left-column {
        flex: 3;
        padding: 10px;

        span {
            text-align: center;
            color: black;
            font-weight: bold;
            font-size: xx-large;
        }

        .text-2 {
            margin-top: 10px;
            margin-left: 20px;
            color: #ffffff;
        }

        h4 {
            margin-top: 30px;
            margin-left: 20px;
            font-weight: 150;
            max-width: 600px;
        }
    }

    .right-column {
        flex: 2;
        padding: 20px;

        form {
            background-color: rgb(255 255 255 / 50%);
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            max-width: 400px;
            width: 100%;
            padding: 20px;

            .title-form {
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                width: 100%;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;

                label {
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                input {
                    width: calc(100% - 22px);
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    font-size: medium;

                    &:focus {
                        outline: none;
                        border-color: #007bff;
                    }
                }

                .error-message {
                    color: red;
                    font-size: 0.875rem;
                    margin-top: 5px;
                }

                button {
                    width: auto;
                    padding: 10px 20px;
                    background-color: #ffffff;
                    color: #0056b3;
                    border: 1px solid #0056b3;
                    border-radius: 3px;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                        color: #ffffff;
                    }
                }
            }

            .notification {
                padding: 20px;
                margin-bottom: 20px;
                color: red;
                font-size: 0.875rem;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
        padding: 0;

        .left-column {
            span {
                font-size: x-large;
            }
        }

        .left-column,
        .right-column {
            width: 100%;
            padding: 20px 0;
        }
    }
}