<div class="container">
  <div class="left-column">
      <span>Welcome to</span>&nbsp;
      <br>
      <span class="text-2">Employee Management</span>
      <h4>Here you can access various services related to employee management. Please log in to access the various features available and start a better experience in managing your staff.</h4>
  </div>
  <div class="right-column">
      <form id="loginForm">
          <label class="title-form">Log In</label>
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" [(ngModel)]="username" required>
              <span *ngIf="username === '' && loginAttempted" class="error-message">Username is required</span>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" required>
              <span *ngIf="password === '' && loginAttempted" class="error-message">Password is required</span>
          </div>
          <span *ngIf="errorMessage" class="notification error-message">{{ errorMessage }}</span>
          <div class="form-group">
              <button type="button" class="btn btn-outline-primary" (click)="onLogin()">Login</button>
          </div>
      </form>
  </div>
</div>
