<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-light">
      <h2 class="mb-0">{{ employee.firstName }} {{ employee.lastName }}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="https://via.placeholder.com/150" class="rounded-circle mb-3" alt="Employee Avatar">
          <h5 class="text-muted">{{ employee.username }}</h5>
          <span class="badge bg-secondary">{{ employee.status }}</span>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label"><strong>Email:</strong></label>
              <p class="form-control-plaintext">{{ employee.email }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label"><strong>Birth Date:</strong></label>
              <p class="form-control-plaintext">{{ employee.birthDate }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label"><strong>Basic Salary:</strong></label>
              <p class="form-control-plaintext">{{ employee.basicSalary | rupiah }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label"><strong>Group:</strong></label>
              <p class="form-control-plaintext">{{ employee.group }}</p>
            </div>
            <div class="col-md-12 mb-3">
              <label class="form-label"><strong>Description:</strong></label>
              <p class="form-control-plaintext">{{ employee.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button class="btn btn-primary" (click)="backToList()">OK</button>
    </div>
  </div>
</div>
