.container {
    max-width: 800px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body .row {
    display: flex;
    align-items: center;
}

.card-body .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body .col-md-4 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-footer {
    text-align: right;
}
