.app-container {
     font-family: "Roboto Slab", serif;
    font-weight: 200;
    font-style: normal;
    padding: 20px;
}

nav {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    a {
        margin-right: 10px;
        text-decoration: none;
        color: #007bff;

        &.active {
            font-weight: bold;
            color: #0056b3;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

router-outlet {
    display: block;
    margin-top: 20px;
}