.add-employee-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-label {
      font-weight: bold;
    }
  
    .form-control,
    .form-select {
      margin-bottom: 15px;
    }
  
    .btn {
      min-width: 100px;
    }
  }
  