<div class="container mt-5 add-employee-container">
  <h3>Add employee data</h3>
  <form #form="ngForm" (ngSubmit)="onSave(form)" class="row g-3">
    <div class="col-md-6">
      <label for="username" class="form-label">Username</label>
      <input id="username" [(ngModel)]="employee.username" name="username" class="form-control" required
        #username="ngModel">
      <div *ngIf="username.touched && username.invalid" class="text-danger">
        Username is required.
      </div>
    </div>
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input id="firstName" [(ngModel)]="employee.firstName" name="firstName" class="form-control" required
        #firstName="ngModel">
      <div *ngIf="firstName.touched && firstName.invalid" class="text-danger">
        First Name is required.
      </div>
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input id="lastName" [(ngModel)]="employee.lastName" name="lastName" class="form-control" required
        #lastName="ngModel">
      <div *ngIf="lastName.touched && lastName.invalid" class="text-danger">
        Last Name is required.
      </div>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input id="email" [(ngModel)]="employee.email" name="email" class="form-control" required #email="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      <div *ngIf="email.touched && email.invalid" class="text-danger">
        Email must be a valid email address.
      </div>
    </div>
    <div class="col-md-6">
      <label for="birthDate" class="form-label">Birth Date</label>
      <input type="date" id="birthDate" [(ngModel)]="employee.birthDate" name="birthDate" class="form-control" required
        #birthDate="ngModel" max="yyyy-MM-dd">
      <div *ngIf="birthDate.touched && birthDate.invalid" class="text-danger">
        Birth Date is required and must be before today.
      </div>
    </div>
    <div class="col-md-6">
      <label for="basicSalary" class="form-label">Basic Salary</label>
      <input type="number" id="basicSalary" [(ngModel)]="employee.basicSalary" name="basicSalary" class="form-control"
        required #basicSalary="ngModel" min="0">
      <div *ngIf="basicSalary.touched && basicSalary.invalid" class="text-danger">
        Basic Salary must be a valid number.
      </div>
    </div>    
    <div class="col-md-6">
      <label for="status" class="form-label">Status</label>
      <input id="status" [(ngModel)]="employee.status" name="status" class="form-control" required #status="ngModel">
      <div *ngIf="status.touched && status.invalid" class="text-danger">
        Status is required.
      </div>
    </div>
    <div class="col-md-6">
      <label for="group" class="form-label">Group</label>
      <select id="group" [(ngModel)]="employee.group" name="group" class="form-select" required #group="ngModel">
        <option *ngFor="let group of groups" [value]="group">{{ group }}</option>
      </select>
      <div *ngIf="group.touched && group.invalid" class="text-danger">
        Group is required.
      </div>
    </div>
    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <input type="date" id="description" [(ngModel)]="employee.description" name="description" class="form-control"
        required #description="ngModel" max="yyyy-MM-dd">
      <div *ngIf="description.touched && description.invalid" class="text-danger">
        Description is required.
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary me-2">Save</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>