body {
    font-family: "Roboto Slab", serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url("assets/background.png");
    background-repeat: round;
    // background: linear-gradient(to bottom, #ffffff, #b3cde0);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-weight: 200;
    font-style: normal;
}